

*.a
*.o
*.so

*.exe
*.lib
*.dll

a.out*
zz_*
/_build*
*.dylib
*.lock
.kclvm

# KCL cache and temp output
.kclvm
.kclvm_cov
*.dylib
*.so
*.dll
*.d
*.ll
*.ll.lock
_a.out.*
_a.out_*.*

**/target/
**/.DS_Store
**/.vscode
__pycache__
build

# java
*.idea
*.iml
*.idea/*.xml
*.class
