name: rust-test

on:
  push:
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - main
    paths:
      - "Cargo.toml"
      - "src/**"
      - ".github/workflows/rust-test.yaml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  rust-test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v5
      - name: Install rust nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          override: true
          components: clippy, rustfmt
      - name: Rust code test
        run: cargo test
